
.main{
	display: flex;
	justify-content: center;
}

.rgb-section{
	display: flex;
	justify-content: center;
}

.one{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(255,0,0);
	width: 10px;
	height: 10px;
}

.two{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(220,20,60);
	width: 10px;
	height: 20px;


}

.three{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(205,92,92);

	width: 10px;
	height: 30px;
}

.four{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(240,128,128);

	width: 10px;
	height: 40px;

}

.five{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(255,99,71,0.6);

	width: 10px;
	height: 50px;

}

.six{
	padding: 40px 20px;
	border-radius: 25px 25px;

background-color:rgb(255,99,71,0.3);

	width: 10px;
	height: 60px;
}

.seven{
	padding: 40px 20px;
	border-radius: 25px 25px;

background-color:rgb(255,99,71,0.1);

	width: 10px;
	height: 60px;


}

.eight{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.2);

	width: 10px;
	height: 50px;
}

.nine{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.3);

	width: 10px;
	height: 40px;

}

.ten{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.5);

	width: 10px;
	height: 30px;

}

.eleven{
	padding: 40px 20px;
	border-radius: 25px 25px;

background-color:rgb(100,149,237,0.6);

	width: 10px;
	height: 20px;
}

.twelfth{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.8);

	width: 10px;
	height: 10px;


}

.thirteen{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.9);

	width: 10px;
	height: 5px;
}

.fourteen{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237);

	width: 10px;
	height: 3px;

}




.one1{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#FF0000;
	width: 10px;
	height: 10px;
}

.two2{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#FF6347;
	width: 10px;
	height: 20px;


}

.three3{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#CD5C5C;

	width: 10px;
	height: 30px;
}

.four4{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(240,128,128);

	width: 10px;
	height: 40px;

}

.five5{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#E9967A;
	width: 10px;
	height: 50px;

}

.six6{
	padding: 40px 20px;
	border-radius: 25px 25px;
	background-color:#E99699;
	width: 10px;
	height: 60px;
}

.seven7{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#ddddff;
	width: 10px;
	height: 60px;


}

.eight8{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.2);
	width: 10px;
	height: 50px;
}

.nine9{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:rgb(100,149,237,0.3);
	width: 10px;
	height: 40px;

}

.ten10{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#ADD8E6;
	width: 10px;
	height: 30px;

}

.eleven11{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#B0E0E6;
	width: 10px;
	height: 20px;
}

.twelfth12{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#6495ED;
	width: 10px;
	height: 10px;


}

.thirteen13{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#6495ED;
	width: 10px;
	height: 5px;
}

.fourteen14{
	padding: 40px 20px;
	border-radius: 25px 25px;
background-color:#6495ED;
	width: 10px;
	height: 3px;

}


